*{margin: 0;padding: 0;background-color: white;}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    height: fit-content;
}

#title_head{
    font-family: sans-serif;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
}